@import "tailwindcss";

/* app/globals.css */

/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font & layout umum */
body {
  font-family: Arial, sans-serif;
  background-color: #8c00ff;
  color: #222;
  line-height: 1.6;
}

/* Navbar contoh */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

/* Main content */
main {
  padding: 20px;
}

.red{
  background-color: aqua;
}